@import "../variables";

.intro {
  display: flex;
  flex-direction: column;
  align-self: flex-start;

  margin: 0 100px 92px;
  max-width: 690px;

  @media (max-width: $large-desktop - 1) {
    margin: 0 0 92px;
  }

  @media (max-width: $desktop - 1) {
    margin: 0 0 88px;
  }

  @media (max-width: $tablet - 1) {
    margin: 0 0 64px;
  }

  .title {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;

    font-weight: 900;
    font-size: 54px;
    line-height: 1;
    color: #fff;

    @media (max-width: $tablet - 1) {
      font-size: 32px;
    }
  }

  .text {
    margin: 0px 0px 33px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
  }

  .list {
    margin: 0px;
    padding: 0px;

    list-style: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.5;
  }
}
