@import "../variables";

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 100px;

  @media (max-width: $large-desktop) {
    margin: 0;
  }

  .title {
    margin: 0;
    padding: 0;
    max-width: 720px;

    text-align: center;
    font-weight: 900;
    font-size: 96px;
    line-height: 1;

    @media (max-width: $tablet - 1) {
      font-size: 40px;
    }
  }

  .subtitle {
    max-width: 640px;
    margin: 32px auto 64px;

    text-align: center;

    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;

    @media (max-width: $large-desktop - 1) {
      margin: 32px auto 56px;
    }

    @media (max-width: $tablet - 1) {
      margin: 16px auto 40px;
      font-size: 16px;
    }
  }

  figure {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (max-width: $desktop - 1) {
      width: 100vw;
      margin-left: calc(-50vw + 50%);
      margin-right: calc(-50vw + 50%);
    }
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  .caption {
    align-self: flex-start;

    margin: 0;
    margin-top: 8px;

    font-weight: 400;
    font-size: 10px;
    line-height: 1.4;
    text-transform: uppercase;

    @media (max-width: $desktop - 1) {
      margin-left: 24px;
    }

    @media (max-width: $tablet - 1) {
      margin-left: 16px;
    }
  }
}
