.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 48px 40px;
  align-items: center;

  margin: 0 102px 80px;

  .title {
    font-size: 72px;
    line-height: 1.05;
  }

  .website {
    display: flex;
    flex-direction: column;

    align-self: end;

    p {
      margin: 0px auto 12px 0px;
      font-weight: 400;
      font-size: 12px;
      line-height: 1;
      letter-spacing: 0.2em;
      color: #aaaaaa;
      text-transform: uppercase;
    }

    a {
      font-weight: 400;
      font-size: 18px;
      line-height: 1.2;
      text-decoration: underline;
      color: #fff;
    }
  }

  img {
    max-width: 100%;
    object-fit: cover;
    margin: 0 auto;
  }

  .paragraphs {
    align-self: start;

    p {
      text-align: left;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.6;
      color: #fff;
    }

    p + p {
      margin-top: 24px;
    }
  }
}
