.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 24px;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    list-style: none;
  }

  a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;

    color: #fff;
  }

  li + li {
    margin-left: 18px;
  }

  .copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
  }
}
