@import "../variables";

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 24px;

  @media (max-width: $tablet - 1) {
    flex-direction: column;
  }

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    list-style: none;

    @media (max-width: $tablet - 1) {
      flex-direction: column;
      margin-bottom: 32px;
    }
  }

  a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;

    color: #fff;

    @media (max-width: $tablet - 1) {
      margin-bottom: 32px;

      font-size: 24px;
    }
  }

  li + li {
    margin-left: 18px;

    @media (max-width: $tablet - 1) {
      margin-left: 0;
      margin-top: 32px;
    }
  }

  .copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
  }
}
